

body{

    max-width:500px;
    margin:0 auto;
    padding:25px;
}

.box{

	display:flex;
    margin-bottom:50px;
    padding-bottom:25px;
}

h1{

	font-family: 'Oxygen', Arial, sans-serif;
	word-spacing: 10px;

}

p{
	font-family: 'Kanit', Arial, sans-serif;
	word-spacing: 5px;
}